:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --secondary-color: #ffffff;
  --title-color: #212121;
  --description-color: #757575;
  --btn-background: #f5f4fa;
  --background-secondary: #2f303a;
  --contact-color: rgba(255, 255, 255, 0.6);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/*===========COMPONENTS===========*/
.logo-accent {
  color: var(--accent-color);
}
/*===========END COMPONENTS===========*/

/*===========HEADER===========*/
.header {
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.address {
  display: flex;
  align-items: center;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.header .address {
  margin-left: auto;
}

.header .address-mail-item {
  margin-right: 50px;
}

.logo {
  margin-right: 90px;
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.navigation-list-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list .navigation-list-link.current {
  color: var(--accent-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-mail-link:hover,
.address-mail-link:focus,
.address-tel-link:hover,
.address-tel-link:focus {
  color: var(--accent-color);
}

.address-mail-link,
.address-tel-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--description-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mail,
.icon-tel {
  margin-right: 10px;
  fill: var(--description-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-mail-link:hover svg,
.address-tel-link:hover svg {
  fill: var(--accent-color);
}

.navigation-list-item {
  position: relative;
}
.current::after {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
  border-radius: 4px;
  background-color: var(--accent-color);
}

/*===========END HEADER===========*/

/*===========BUTTON===========*/
.our-projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-projects-list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.our-projects-item:not(:last-child) {
  margin-right: 8px;
}

.our-projects-list .modal-btn.current {
  color: var(--secondary-color);
  background-color: var(--accent-color);
}

.modal-btn {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(--title-color);
  background: var(--btn-background);
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: inherit;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  color: var(--secondary-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/*===========END BUTTON===========*/

/*===========ALL PROJECTS===========*/
.projects-deskription {
  padding: 15px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-list-link {
  display: block;
  width: 370px;
  position: relative;
  overflow: hidden;
}

.projects-list-link:hover,
.projects-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects-list-item:nth-child(3n) {
  margin-right: 0;
}

.projects-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects-list-item .projects-title {
  margin-bottom: 4px;
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

.prodjects-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  padding: 64px 24px;

  /* opacity: 0; */
  visibility: hidden;
  pointer-events: none;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list-link:hover .prodjects-overlay {
  /* opacity: 1; */
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}

.projects-overlay-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

/*===========END ALL PROJECTS===========*/

/*===========FOOTER===========*/
.contact {
  font-style: normal;
}

.footer {
  background-color: var(--background-secondary);
}

.footer-contact {
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-link:hover,
.contact-link:focus,
.contact-location:hover,
.contact-location:focus {
  color: var(--accent-color);
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.contact:not(:last-child) {
  margin-bottom: 10px;
}

.contact-location {
  display: block;
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link.tel {
  display: block;
  margin-bottom: 0;
}

.contact-link {
  display: block;
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--contact-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .container {
  display: flex;
}

/* ====================== */
.social-footer {
  padding: 70px 93px 100px 70px;
  min-width: 200px;
}

.footer-title {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);

  margin-bottom: 20px;
}

/*====sprite social list====*/
.social-list {
  display: flex;
  justify-content: space-between;
  width: 210px;
  margin: 0 auto;
}

.social-list_item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list_item-link svg {
  width: 20px;
  height: 20px;
  fill: var(--secondary-color);
}

.social-list_item-link:hover {
  background: var(--accent-color);
}

/* ===========SUBSCRIPTION===========*/
.subscription {
  padding-top: 72px;
  padding-bottom: 94px;
  min-width: 570px;
}

.subscription-form-input {
  width: 350px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: inherit;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription-form-button {
  position: relative;
  padding-left: 28px;

  width: 200px;
  height: 50px;

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: inherit;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: start;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}
.subscription-form-button-svg {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/* ===========END SUBSCRIPTION===========*/
/*===========END FOOTER===========*/
